<?xml version='1.0' encoding='utf-8'?>
<configurations configuration_type="custom"><date>2023-09-19 22:48:28</date><database_configuration><host>localhost</host><port>3306</port><name>atm_data</name><user>root</user><password /></database_configuration><working_directories><source_folder>sources</source_folder><reports_folder>reports</reports_folder><archive_folder>completed</archive_folder></working_directories></configurations>